<header id="header">
  <div id="header-outer">
    <div id="header-title">
      <h3><img src="/css/images/logo.jpg" alt=""></h3>
      <h1 id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
      </h1>
    </div>
    <div id="header-inner" class="inner">
      <!-- <div id="search-form-wrap">
        <%- search_form({button: '&#xF002;'}) %>
      </div> -->
      <nav id="main-nav">
        <ul>
          <% for (var i in theme.menu){ %>
          <li><a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
          <% } %>
        </ul> 
      </nav>
      <!-- <nav id="sub-nav">
        <% if (theme.rss){ %>
          <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="<%= __('rss_feed') %>"></a>
        <% } %>
        <a id="nav-search-btn" class="nav-icon" title="<%= __('search') %>"></a>
      </nav> -->
    </div>
    <div class="footer">
      <div id="footer-info">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> and <a href="https://github.com/yaob421123" target="_blank">GitHub</a><br>
        <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a> and Theme by <a href="https://github.com/yaob421123/yaobinscape" target="_blank">yaobinscape</a> 
      </div>
    </div>
  </div>
</header>